apiVersion: apps/v1
kind: Deployment
metadata:
  name: chromadb
  namespace: gangwon
spec:
  replicas: 1
  selector:
    matchLabels:
      app: chromadb
  template:
    metadata:
      labels:
        app: chromadb
    spec:
      containers:
        - name: chromadb
          image: chromadb/chroma:latest
          ports:
            - containerPort: 8000
          env:
            - name: IS_PERSISTENT
              value: "TRUE"
#          resources:
#            requests:
#              cpu: "200m"
#              memory: "512Mi"
#              ephemeral-storage: "512Mi"
#            limits:
#              cpu: "1"
#              memory: "1Gi"
#              ephemeral-storage: "1Gi"
          volumeMounts:
            - name: chromadb-data
              mountPath: /chroma/chroma
      volumes:
        - name: chromadb-data
          persistentVolumeClaim:
            claimName: chromadb-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: chromadb
  namespace: gangwon
spec:
  selector:
    app: chromadb
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
  type: ClusterIP
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: chromadb-pvc
  namespace: gangwon
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: local-path
