apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: stress-cpu-hpa
  namespace: stress
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: stress-cpu-limit
  minReplicas: 1
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50

  behavior:
    # scale up: 1분에 최대 2배까지 증가 가능
    scaleUp:
      stabilizationWindowSeconds: 0
      policies:
        - type: Percent
          value: 100
          periodSeconds: 60
    #scale down: 5분 동안은 “좀 더 지켜보고” 줄임, 1분에 최대 50%만 감소
    scaleDown:
      stabilizationWindowSeconds: 300
      policies:
        - type: Percent
          value: 50
          periodSeconds: 60