name: Build & Push Image (GHCR)

on:
  push:
    branches: [ deploy/k8s ]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write   # GHCR push 필수

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64 \
            -t ghcr.io/${{ github.repository }}:latest \
            --push .

      - name: Deploy on EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            set -e
            
            cd /home/ubuntu/workspace/deploy/upstage-gangwon-fastapi-lecture
            
            # 1. 최신 브랜치로 이동
            git fetch origin
            git checkout deploy/registry
            git pull origin deploy/registry
            
            # 2. k8s manifest 위치로 이동
            cd infra/k8s/application
            
            # 3. 배포
            kubectl apply -f 04-backend.yaml
